.player-side {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: 100%;
  color: var(--white);
  text-align: center;
  padding-top: 1rem;
}

.player-side h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.6rem;
}

.player-side div {
  font-family: 'Metrophobic', sans-serif;
  font-size: 1rem;
}

.player-side p {
  display: inline-block;
}

.playing p {
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 0.1em 0.5em;
}

.next p {
  border: 1px solid transparent;
  padding: 0.1em 0.5em;
}
