.flex {
  display: flex;
}

.col-even > * {
  width: 100%;
}

.bg-full {
  width: 100%;
  height: 100%;
}

.player-side:first-child {
  border-right: 1px solid var(--white);
}

.player-side:last-child {
  border-left: 1px solid var(--white);
}
