@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Permanent+Marker&display=swap');

html {
  --bg: #1a2b34;
  --grey: #334651;
  --blue: #56b3b4;
  --green: #3d9143;
  --greenh: #326a36;
  --yellow: #f7ba3e;
  --red: #ea5e5e;
  --purple: #bf85bf;
  --white: #f9f9ec;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--blue) var(--grey);
    scrollbar-width: auto;
  }
}
