@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Permanent+Marker&display=swap');

html {
  --bg: #1a2b34;
  --grey: #334651;
  --blue: #56b3b4;
  --yellow: #f7ba3e;
  --red: #ea5e5e;
  --purple: #bf85bf;
  --white: #f9f9ec;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
